<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img id="logo" src="/public/images/logo.jpg" alt="logo"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
        <ul class="navbar-nav mr-auto">
        
            <li class="nav-item">
                <a class="nav-link navitemlink" href="/">HOME</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link navitemlink" href="/content">MEN</a>
            </li>

            <li class="nav-item">
                <a class="nav-link navitemlink" href="/content">WOMEN</a>
            </li>

            <li class="nav-item">
                <a class="nav-link navitemlink" href="/content">KIDS</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link navitemlink" href="/about">ABOUT</a>
            </li>
    
        
        </ul>
      
        <form class="form-inline my-2 my-lg-0">
            <input class="search-box mr-sm-2" type="search" placeholder="Search for products brand and more" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>

    <ul class="navbar-nav navitem-tag">
            
        <li><a href="/signpage" ><i class="material-icons icon" title="Profile">person</i><p>Profile</p></a></li>
        <li><a href="/wishlist" ><i class="material-icons icon" title="Wishlist">favorite</i><p>Wishlist</p></a></li>
        <li><a href="/bag"><i class="material-icons icon" title="Bag">shopping_bag</i><p>Bag</p></a></li>

    </ul>
    
    </div>
  
</nav>