<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <button class="button_2" type="radio" name="options" id="signInToggle" onclick="signInfunc()"> SignIn</button>
    <button class="button_2" type="radio" name="options" id="signUptoggle" onclick="signUpfunc()"> SignUp</button>
</div>
<h3>Sign up form</h3><br><br>
                
                <form>
                
                    <label>Email </label> 
                    <input  name="email" placeholder="email" id="uemail"  type="email"><br><br>
                    <label>Password </label> 
                    <input  name="password" placeholder="password" id="upassword" type="password"><br><br>
                    <button onclick="signUp()" class="button">Sign Up</button>
                
                </form>
    