<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <button class="button_2" type="radio" name="options" id="signInToggle" onclick="signInfunc()"> SignIn</button>
  <button class="button_2" type="radio" name="options" id="signUptoggle" onclick="signUpfunc()"> SignUp</button>
</div>
<h3>Sign in form</h3><br><br>
        
           <form>

                <label>Email </label> 
                <input  name="email" placeholder="email" id="iemail"  type="email" required><br><br>
                <label>Password </label> 
                <input  name="password" placeholder="password" id="ipassword" type="password" required><br><br>
                <button onclick="signIn()" type="button" class="button">Sign In</button>
          </form>