<div id="myCarousel" class="carousel slide slider" data-ride="carousel">
            
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
  
    <div class="carousel-inner">
      
        <div class="item active">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/8/258aa8d5-ab1f-4d1a-b895-92ba7a06c0fc1646738420020-Wrogn_Desk_Banner.jpg" alt="Image-1">
        </div>
  
        <div class="item">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/2/28/4534dba9-51db-45dd-acae-07033fc3b24d1646060784295-SS22-DesktopBanners-Unisex.jpg" alt="Image-2">
        </div>
  
        <div class="item">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/16/11cc5325-37c6-4490-9adb-6f09ccb2a0781637049244895-luxe-banner.jpg" alt="Image-3">
        </div>

        <div class="item">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/8/9ce82891-515e-4781-a427-a95fef24902e1646751364756-Kurtas---Sets_Desk.jpg" alt="Image-4">
        </div>
    
    </div>

</div>